@import url('https://fonts.googleapis.com/css2?family=Smythe&');

* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  text-align: center;
   background: beige;
  }

 /* Heading area*/

 .heading {
  font-family: 'Smythe',sans-serif;
  font-weight: 20px;
  text-align: center;
  position: relative;
  color: rgb(104, 50, 50);
}  

/* footer area*/

footer {
  margin: 0;
  padding: 20px;
  min-height: 120px;
  text-align: center;
  font-size: 40px;
  position: sticky;
  font-family: 'Smythe',sans-serif;
  color: brown;
}


 /* Reset Game css*/

 .hero-btn {
  display: inline-block;
  color: #624632;
  border: 1px solid #624632;
  padding: 12px 34px;
  font-size: 14px;
  background: #f1c9af;
  position: relative;
  transition: 1s;
}

.hero-btn:hover {
  border: 1px solid #ffcbcb;
  background: #ffcbcb;
  color: #000000;
  transition: 1s;
}

 /* How to Play Rules*/
 
 .rules {
   display: none;
   margin: 100px, 200px, 100px, 200px;
   position: fixed;
   z-index: 99;
   left: 0;
   top: 0;
   font-family: 'Smythe', sans-serif;
   border: 0.2em solid ;
   border-radius: 20px;
   justify-content: center;
   background-color: antiquewhite;
 }

 .modal-title {
   font-size: 40px;
   justify-content: center;
 }

 .text {
   color: #624632;
   text-align: center;
   font-size: 30px;
 }

 .close-btn {
   margin: 5px;
   border: 0px;
   border-radius: 5px;
   background-color: #624632;
   color: #fff;
   font-size: 30px;
   justify-content: center;
 }

.card-area {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Styling game cards*/

.front-side.card-side {
  display: none;
}

.card-side {
  display: inline-block;
}

.card-side > img {
  object-fit: cover;
}

img {
  border:#624632;
}

/*end game modal message css*/
.modal-end {
  display: none;
  margin: 100px, 200px, 100px, 200px;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  font-family: 'Smythe', sans-serif;
  border: 0.2em solid ;
  border-radius: 20px;
  justify-content: center;
  background-color: antiquewhite;
}

.modal-header {
  font-size: 40px;
  justify-content: center;
}

.message {
  color: #624632;
  text-align: center;
  font-size: 30px;
}

.restart-btn {
  margin: 5px;
  border: 0px;
  border-radius: 5px;
  background-color: #E2C6AA;
  color: #fff;
  font-size: 30px;
  justify-content: center;
}


/*media css*/